
///*-----------------------------------------------------
///		# INCLUDE TRUMPS
///-----------------------------------------------------*/


// Trumps fs list
$skmo-trumps-fs				: 12,16,18,24;

// Include trump for hide in base to breakpoints
$include__trumps--display: true !default;

// Include trump for margin
$include__trump--margin 		: true !default;

// Trumps margin steps
	$skmo-trumps-margin-init 	: 0;
	$skmo-trumps-margin-steps	: 1;
	$skmo-trumps-margin-end		: 36;

// Include trump for padding
$include__trump--padding 		: true !default;

// Trumps padding steps
	$skmo-trumps-padding-init 	: 0;
	$skmo-trumps-padding-steps	: 1;
	$skmo-trumps-padding-end 	: 36;

// Include trump for text align
$include__trump--text-align 	: true !default;

// Include trump for set elements color from _settings__colors
$include__trump--colors     	: true !default;
