///*-------------------------------------------------------------------------
//   #SETTINGS CONFIG
//--------------------------------------------------------------------------*/

//	CONTENT THIS FILE:
//		# NAMESPACE
//      # CONFIG - FONTS
//		# BASIC VALUE FOR PROJECT
//      # CONFIG - SETTINGS



///*-------------------------------------------------------------------------
//   	# NAMESPACE
//--------------------------------------------------------------------------*/
$skmo				:   skmo-;



///*-----------------------------------------------------
///     # CONFIG - FONTS
///-----------------------------------------------------*/
$skmo-font-default				: 'SourceSansPro-Black';



///*-------------------------------------------------------------------------
//   	# BASIC VALUE FOR PROJECT
//--------------------------------------------------------------------------*/

$skmo-font-family        :	$skmo-font-default;
$skmo-font-size          :	14;
$skmo-line-height        :	1.2;
$skmo-background-colo    :	white;
$skmo-path-font          :	"../assets/fonts/";
$skmo-path-img           :	"../assets/img/";