////
/// BODY element
///
/// Here we got the body styles
////
body {
	position            		:	relative;
	font-family         		:	$skmo-font-default;
	color               		:	color(skmo-tertiary);
	background-color    		:	color(white);
	-webkit-text-size-adjust	:	100%;
}