////
/// HEADING element
///
/// This is the headers' style sheet
////
h1,
h2,
h3,
h4,
h5,
h6 {
	margin 			:	0;
	font-family 	:	$skmo-font-default;
	font-weight 	:	normal;
	color			: 	color(danger);
	line-height  	:	1;
}

h1, %h1	{ font-size: rem($skmo-h1); }
h2, %h2	{ font-size: rem($skmo-h2); }
h3, %h3	{ font-size: rem($skmo-h3); }
h4, %h4	{ font-size: rem($skmo-h4); }
h5, %h5	{ font-size: rem($skmo-h5); }
h6, %h6	{ font-size: rem($skmo-h6); }